<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/HomeCSS.css" />
    <title>Ana Sayfa - BarberShop</title>

    
</head>
<body>

    <div class="hero" style="background: url('../images/aletler.jpg') no-repeat center center / cover;">
        <h1 class="display-4">BarberShop'a Hoş Geldiniz!</h1>
        <p class="lead">En iyi berber hizmetleri şimdi parmaklarınızın ucunda.</p>
        <a href="/Appointments/Create" class="btn btn-light btn-lg">Randevu Al</a>
    </div>

    <div class="container mt-5">
        <h2 class="text-center mb-4" style=" color: rgb(255, 87, 51); /* Set the desired color */
            margin: 0; /* Remove default margin */
            text-align: center; font-size:35px">
            Hizmetlerimiz
        </h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="~/images/resimSakalTasarimi.jpg" class="card-img-top" alt="Klasik Saç Kesimi" />
                    <div class="card-body">
                        <h5 class="card-title">Klasik Saç Kesimi</h5>
                        <p class="card-text">Saç stilinizi yenileyin. Uzman berberlerimizle klasik bir saç kesimi deneyimi yaşayın.</p>
                        <p class="price">Fiyat: 50 TL</p>
                        <a href="/Appointments/Create" class="btn btn-primary">Randevu Al</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="~/images/resimSacDuzlestirme.jpg" class="card-img-top" alt="Saç Düzleştirme" />
                    <div class="card-body">
                        <h5 class="card-title">Saç Düzleştirme</h5>
                        <p class="card-text">Saçlarınızı düzleştirin ve gerektiğinde mükemmel görünüm kazandırın.</p>
                        <p class="price">Fiyat: 80 TL</p>
                        <a href="/Appointments/Create" class="btn btn-primary">Randevu Al</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="~/images/resimSac.jpg" class="card-img-top" alt="Sakal Tasarımı" />
                    <div class="card-body">
                        <h5 class="card-title">Sakal Tasarımı</h5>
                        <p class="card-text">Sakal tarzınızı belirleyin. Uzman ekibimiz en trend sakal tasarımlarını sunar.</p>
                        <p class="price">Fiyat: 40 TL</p>
                        <a href="/Appointments/Create" class="btn btn-primary">Randevu Al</a>
                    </div>
                </div>
            </div>
        </div>


       
    </div>

   

   
</body>
</html>
